.home_welcome {
    font-weight: bold;
    text-align: center;
}

.team-section {
    margin-top: 80px;
}

.team {
    margin-top: 40px;
    margin-bottom: 60px;
}

.public {
    margin-top: 40px;
    margin-bottom: 40px;
}

.publications-section {
    margin-top: 20px;
    margin-bottom: 20px;
}

.carousel {
    margin: auto;
    border-radius: 9px;
    padding-top: 20px;
}

.carousel-caption {
    background-color: rgba(87, 87, 87, 0.73);
    border-radius: 8px;
    padding-right: 20px;
    padding-left: 20px

}
.caption-title {
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
}
.caption  {
    color: white;
    font-size: 1.4rem;
}

@media(max-width:700px) {
    .caption {
        font-size: 0.90rem;
    }
    .caption-title {
        font-size: 0.95rem;
    }
}

@media(max-width:376px) {
    .caption {
        color: white;
        font-size: 0.8rem;
    }
    .caption-title {
        color: white;
        font-size: 0.85rem;
        font-weight: bold;
    }
}

@media(max-width:321px) {
    .caption {
        font-size: 0.65rem;
    }
    .caption-title {
        font-size: 0.70rem;
    }
}

.alert {
    background-color: rgba(92, 158, 173, 0.58);
    color: black;
}

.home-logo {
    background-color: #eeeeee;
    text-align: center;
}
.logo_home {
    max-width: 300px;
}

.description {
    padding-top: 30px;
    padding-bottom: 30px;
    font-family: 'Verdana', sans-serif;
}
.item-type{
    font-family: 'Verdana', sans-serif;
    padding: 30px;
    font-weight: bold;
    color: #326273;
}

.login-link {
    color: #e39774;
}

.moreProjectsButtom {
    background-color: #326273;
    border: none;
    font-size: 30px;
    opacity: 80%;
}

.moreProjectsButtom:hover {
    background-color: #1775bb;
}
