.card {
    position: relative;
    -webkit-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    border: 1px solid #143956;
    transition: transform .4s;
    padding: 1.5em .5em .5em;
    border-radius: 2em;
    text-align: center;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.team-col {
    margin-bottom: 50px
}

.card:hover {
    transform: scale(1.05);
}

.member-profile {
    top: -140px;
    left: 0;
}
.member-profile img {
    width: 160px;
    height: 160px;
}

.Person-link {
    text-decoration: none;
    color: #143956;
    border-radius: 40px;
}

.member-name {
    color: #143956;
}


.card-footer {
    background-color: #ffffff;
    border-radius: 40px;
}


